= form_with(model: [post, comment] ) do |form|
  = form.text_area :content, rows: 4, placeholder: 'Write a comment', class:"comment-box"
  .actions
    = form.submit "Comment", class: 'btn btn-primary'
