= form_with(model: [post, comment] ) do |form|
  = form.text_area :content, rows: 4, placeholder: t('.comment-write'), class:"comment-box"
  .actions
    = form.submit t('.comment-submit'), class: 'btn btn-primary'
