@import "bootstrap-sprockets";
@import "bootstrap";

.panel-body{
  height: 100px;
}

/*.buttons{
  margin-top: 0px;
}*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.bg-light{
  background-color: #f8f9fa;
}

.footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:50px;
}

.top-picture{
  background-image: url("ammie-ngo-690967-unsplash (1).jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
  opacity: 0.4;
}
