@import "bootstrap-sprockets";
@import "bootstrap";

                      //パネル系
.row{
  padding-top: 80px;
}

.panel-heading{
  height: 80px;
  padding: 10px;
  font-weight: bold;
}

.panel-body{
  height: 180px;
  padding: 10px;
}

.comment-panel{
  padding: 20px;
}

.panel,.panel-default{
  margin-top: 2rem;
  //border-radius: 8px;
}

.panel-above{
  margin-bottom: -15px;
}

.glyphicon.glyphicon-user{
  margin-right: 5px;
}

.category{
  text-align: right;
}
                      //エラー
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

                              //ヘッダー
.language{
  list-style-type:none;
}

.bg-light{
  background-color: #f8f9fa;
}

.navbar-brand{
  font-weight: bold;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.toggle-menu{
  text-decoration: underline;
}

.btn-header{
  //padding: -6px -10px;
  //color: #8c2a2a;
  //font-size: 6px;
  //border: 10px solid grey;
  //border-radius: 4px;
  //transition: .3s all;
}

                              //フッター
.footer{
  text-align: center;
  padding-top: 1rem !important;
  //padding-bottom: 20px;
  //margin-top:50px;
  padding-bottom: 1rem !important;
}

                            //container系
.dropdown{
  list-style-type:none;
}

.top-title{
  font-size: 32px;
  color: white
}

.top{
  //position: absolute;
  //padding-left: 20px;
  padding-top: 22px;
  background-image: url("vietnamslang.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100vw;

  //left: 50%;
  //transform: translateX(-50%);
  //height: 450px;
  //width:100vw;
  //opacity: 0.4;
  margin-top:-18px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  color: white;
}

@media screen and (max-width: 640px){
.top{
    height: 180px;
}
.top-textes{
    //margin-top: 200px;
}


}

.top-text{
  margin-top:25px;
}

.top-textes{

}

body{
  padding-top: 5.5rem;
  background: #f7f7f7;
}

.content{
  min-height: 85vh;
}

.submit{
  text-align: center;
}

.submit-delete{
  margin-top: 20px;
}

.username{
  text-align: center;
}

.user_name,.panel-footer{
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  //padding-right: 10px
}

.users_name{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -20px;
}

.pagi_nation{
  text-align: center;
}

.time{
  margin-top: -15px;
}

.favorite{
  text-align: right;
  margin-top: -25px;
}

/*.toppage-buttons{
  padding-top: 30px;
  font-weight: bold;
  font-size: 18px;
}*/

.btn-look,.btn-post,.btn-login,.btn-user{
  //margin-right: 10px;
  //border-bottom : solid 2px #0091ff ;
}

                                    //コメント
.comment-box{
  min-width: 30vh;
}

.comment-panel{
  margin-top: -0.5rem;
}

.comment-area{
  margin-top: 5rem;
}
